<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container">
	<div class="container-fluid">
		<hr>

		<h2 style="text-align: center;">Login</h2>
		<hr>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="border: 1px solid gray;
			padding: 61px;
			margin: 30px;
			">
				<form method="post" action="/password/">
					
					{% csrf_token %}
					{% if errors %}
					<div class="alert alert-block alert-danger">
						<ul>
							{% for err in errors %}
							<li>
								{{err}}
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					<div id="div_id_username" class="form-group"> <label for="id_email"
							class="col-form-label  requiredField">
							email<span class="asteriskField">*</span> </label>
						<div class=""> <input type="email" name="email" value="{{username}}"
								class="textinput textInput form-control" id="id_email" autofocus="" required="">
						</div>
					</div>
					<button class="btn btn-primary btn-block" type="submit">Login</button>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>



</div>




{% endblock %}